body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div button{
    font-family: cursive;
    font-size: 25px;
    padding: 10px 20px;
    background-color: orangered;
}
