.container{
    border: 5px solid green;
    width: 50%;
    padding: 10px;
}

.box1{
    border: 5px solid rgb(128, 0, 0);
    width: 50%;
    padding: 10px;

}

.box2{
    border: 5px solid rgb(11, 0, 128);
    width: 50%;
    padding: 10px;

}

.a{
    width: 60px;
    height: 40px;
    background-color: yellow;
}

.container {
    color : red;
}

/* .container+p{
    color: blue;
}
.container p{
    color: rgb(0, 255, 8);
}
.container>p{
    color: red;
} */

/* .container :first-child{
    color : red;
} */

/* .container :last-child{
    color : red;
} */

/* .container p:last-child{
    color : red;
} */

 /*
   -Desecentant
 > - child
 + - adjacent sibling 
 ~ - general sibling
 */

 
 /* 

 :first-child
 :last-child
 :first-of-type
 :last-of-type
 :nth-child()
 :nth-last-child()
 :nth-of-type()
 :nth-last-of-type()
 :empty
 :not()
 :only-child
 :only-of-type
 
 :hover
 :active
 :visited 
 
 */
 
