nav{
    padding: 20px;
    background-color: rgb(60, 255, 0);
    display: grid;
    grid-template-columns: 40% 60%;
    color: white;
}

nav #navLinks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}

nav #navLinks a{
    text-decoration: none;
    color: white;
}