#chat-area{
    width: 100%;
    height: 100%;
    background: url(https://st.depositphotos.com/32927174/54048/v/600/depositphotos_540481812-stock-video-white-line-boxing-helmet-icon.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

/* here chat area details will started */

#chat-area .chat-area-details{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 75%  5% 5% 5%;
    align-items: center;
    background-color: #000000;
    color: white;
}

#chat-area .chat-area-details img{
    border-radius: 50%;
    margin-left: 20px;
}

#chat-area .chat-area-details h4,i{
    font-size: x-large;
    
}


/* here chat area text will start */

#chat-area .chat-area-text{
    width: 90%;
    height: 95%;
    margin: 0px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 5% 5% 85% 5%;
    background: black;
    color: white;
    align-items: center;
    border-radius: 50px;
}

#chat-area .chat-area-text i{
    font-size: x-large;
}

#chat-area .chat-area-text i:last-child{
    text-align: right;
}

#chat-area .chat-area-text input{
    height: 100%;
    font-size: large;
    outline: none;
    border: none;
    color: white;
    background: transparent;
}

